@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Rubik:wght@300&display=swap");
html {
  font-size: 16px;
  font-family: "Rubik", sans-serif; }

body {
  background-color: #f5f6fa; }

.comment {
  padding: 2%; }
  .comment__top-row {
    display: flex;
    flex-direction: row;
    margin-left: calc(2% + 1.5625rem); }
    .comment__top-row .name {
      padding-top: 1.5rem;
      font-weight: 700; }
    .comment__top-row .post-date {
      padding-top: 1.5rem;
      font-weight: 500;
      margin-left: 1rem; }
    .comment__top-row .reply-edit-delete {
      padding-top: 1.5rem;
      margin-left: auto;
      font-weight: 700;
      color: #5457b6; }
  .comment__text {
    margin-left: calc(2% + 2.5rem); }

.comment__vote {
  float: left;
  background-color: #eaecf1;
  width: 2rem;
  margin-top: 0.75rem;
  border-radius: 0.375rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }
  .comment__vote .upvote,
  .comment__vote .downvote,
  .comment__vote .rating {
    margin-left: 0.625rem; }
  .comment__vote .rating {
    color: #5457b6;
    font-weight: 700; }

.avatar {
  transform: scale(60%); }
  .avatar--you {
    height: 20%; }

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%; }
  .add-comment__comment {
    height: 6.25rem;
    width: 60%; }
  .add-comment__send {
    height: 2.5rem;
    width: 5.625rem;
    background-color: #5457b6;
    border-radius: 0.375rem;
    border: none;
    color: white;
    font-weight: 700; }

main.comment-box {
  width: min(45.3125rem, 95%);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; }

.comment,
.add-comment {
  border-radius: 0.375rem;
  background-color: white;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem; }

.comment__top-row .reply-edit-delete__reply {
  width: calc(inherit - 20%); }
  .comment__top-row .reply-edit-delete__reply--image {
    margin-right: 0.625rem; }

.reply-wrapper {
  display: flex;
  flex-direction: row; }
  .reply-wrapper hr {
    width: 0.125rem;
    margin-left: 5% !important;
    margin-right: 5% !important;
    background-color: #67727e; }
  .reply-wrapper .reply-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
