$base: 16px;

//Screen Size
$screen-widths: (
  "mobile": 615px,
  "desktop": calculate-rem(1440px),
);

//Screen position
$main-margin: auto;

//Colors
$colors-primary: (
  "moderate blue": hsl(238, 40%, 52%),
  "soft red": hsl(358, 79%, 66%),
  "light grayish blue": hsl(239, 57%, 85%),
  "pale red": hsl(357, 100%, 86%),
);

$colors-neutral: (
  "dark blue": hsl(212, 24%, 26%),
  "grayish blue": hsl(211, 10%, 45%),
  "light gray": hsl(223, 19%, 93%),
  "very light gray": hsl(228, 33%, 97%),
  "white": hsl(0, 0%, 100%),
);

//Fonts
$font-family: "Rubik", sans-serif;
$font-weights: (
  "light": 400,
  "medium": 500,
  "large": 700,
);

//Base
$body-background-color: map-get($colors-neutral, "very light gray");

//Elements
$width: #{"min(#{calculate-rem(725px)}, 95%)"};
$height: auto;
$card-margin: calculate-rem(10px);
$card-padding: calculate-rem(24px);

$hr-margin: 5%;

$border-radius: calculate-rem(6px);
$card-background-color: map-get($colors-neutral, "white");

$reply-edit-delete-margin: auto;

$rating-child-margin: calculate-rem(12px);

//Grid
$columns-comment: calculate-rem(36px) auto auto;
$rows-comment: calculate-rem(48px) auto auto;
$gutter-comment: calculate-rem(16px);

$columns-add-comment: 4rem auto 6rem;
$rows-add-comment: auto auto;
$gutter-add-comment: calculate-rem(16px);
