.comment,
.add-comment,
.add-comment--add-reply,
.modal {
  border-radius: $border-radius;
  background-color: $card-background-color;

  margin-top: $card-margin;
  margin-bottom: $card-margin;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%; 
  min-height: 100vh; 
  background-color: rgba(0,0,0,0.4);
  &__content {
    background-color: $card-background-color;
    margin: auto;
    padding: calculate-rem(20px);
    border-radius: $border-radius;
    width: calculate-rem(350px);
    margin-top: 25vh;
  }
}

.reply-wrapper {
  display: flex;
  flex-direction: row;
  hr {
    width: calculate-rem(2px);
    margin-left: $hr-margin !important;
    margin-right: $hr-margin !important;
    background-color: map-get($colors-neutral, "grayish blue");
  }
  .reply-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and(max-width: map-get($screen-widths, "mobile")) {
  .modal {
    &__content{
      width: calculate-rem(300px);

    }
  }
}
