.comment,
.add-comment {
  border-radius: $border-radius;
  background-color: $card-background-color;

  margin-top: $card-margin;
  margin-bottom: $card-margin;
}

.comment {
  &__top-row {
    .reply-edit-delete {
      &__reply {
        width: calc(inherit - 20%);
        &--image {
          margin-right: calculate-rem(10px);
        }
      }
    }
  }
  &__mobile {
    display: none;
  }
}

@media only screen and (max-width: calculate-rem(480px)) {
    .comment {
      &__mobile {
        display: block;
      }
    }
  
}

.reply-wrapper {
  display: flex;
  flex-direction: row;
  hr {
    width: calculate-rem(2px);
    margin-left: $hr-margin !important;
    margin-right: $hr-margin !important;
    background-color: map-get($colors-neutral, "grayish blue");
  }
  .reply-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
