.comment,
.add-comment,
.add-comment--add-reply,
.modal {
  border-radius: $border-radius;
  background-color: $card-background-color;

  margin-top: $card-margin;
  margin-bottom: $card-margin;
}

.modal{
  display: none;
  width: calculate-rem(300px);
  position: absolute;
  border: solid;
  margin: 15% 10%;
 
}

.reply-wrapper {
  display: flex;
  flex-direction: row;
  hr {
    width: calculate-rem(2px);
    margin-left: $hr-margin !important;
    margin-right: $hr-margin !important;
    background-color: map-get($colors-neutral, "grayish blue");
  }
  .reply-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and(max-width: map-get($screen-widths, "mobile")){
  .modal{
    margin: 50% 10%;
  }
}
