.comment {
  display: grid;
  grid-template-columns: 2.25rem auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  &__vote {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__text {
    grid-column: 2;
  }
}
