.comment {
  display: grid;
  grid-template-columns: $columns-comment;
  grid-template-rows: $rows-comment;
  grid-gap: $gutter-comment;
  &__vote {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__top-row {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
  }
  .reply-edit-delete {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
  }

  &__text {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    &--edit{
      display: none;
    }
  }
}

.add-comment{
  display: grid;
}

.add-comment, .add-comment--add-reply {
  grid-template-columns: $columns-add-comment;
  grid-template-rows: $rows-add-comment;
  grid-gap: $gutter-add-comment;

  .avatar {
    grid-column: 1;
  }
  &__comment {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;

  &__send {
    grid-column: 3;
  }
}
}
@media only screen and (max-width: map-get($screen-widths, "mobile")) {
  .comment {
    &__top-row {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &__text {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row: 2;
    }
    &__vote {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .reply-edit-delete {
      grid-row: 3;
    }
  }

  .add-comment {
    .avatar {
      grid-row: 2;
    }
    &__comment {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &__send {
      grid-row: 2;
      grid-column: 3;
    }
  }
}
