.add-comment {
    padding: $card-padding;
    height: auto;
    .avatar{
      &--you{
        transform: scale(70%);
      }
    }
  &__comment {
    height: calculate-rem(100px);
  }

  &__send {
    margin-left: auto;
    height: calculate-rem(40px);
    width: calculate-rem(90px);
    background-color: map-get($colors-primary, "moderate blue");
    border-radius: $border-radius;
    border: none;
    color: map-get($colors-neutral, "white");
    font-weight: map-get($font-weights, "large");
  }
}
