.comment {
  &__vote {
    display: flex;
    flex-direction: column;
    background-color: map-get($colors-neutral, "light gray");
    border-radius: $border-radius;
    align-content: center;
    height: 7.2rem;
    .upvote,
    .downvote {
      cursor: pointer;
    }
    .upvote,
    .downvote,
    .rating {
      margin: $rating-child-margin;
    }
    .rating {
      color: map-get($colors-primary, "moderate blue");
      font-weight: map-get($font-weights, "large");
    }
  }
}
@media only screen and (max-width: 480px) {
  .comment {
    &__vote {
      flex-direction: row;
      width: 6.5rem;
      height: auto;

      .upvote {
        margin-top: 1rem;
      }

      .downvote {
        margin-top: 1.25rem;
      }
    }
  }
}
