.comment {
  &__vote {
    display: flex;
    flex-direction: column;
    float: left;
    background-color: map-get($colors-neutral, "light gray");
    border-radius: $border-radius;
    .upvote,
    .downvote,
    .rating {
      margin: calculate-rem(12px);
    }
    .rating {
      color: map-get($colors-primary, "moderate blue");
      font-weight: map-get($font-weights, "large");
    }
  }
}

