.comment {
  padding: $card-padding;
  &__top-row {
    display: flex;
    flex-direction: row;
    .name {
      padding-top: calculate-rem(24px);
      font-weight: map-get($font-weights, "large");
    }
    .post-date {
      padding-top: calculate-rem(24px);
      font-weight: map-get($font-weights, "medium");
      margin-left: calculate-rem(16px);
    }
    .reply-edit-delete {
      padding-top: calculate-rem(24px);
      margin-left: auto;
      font-weight: map-get($font-weights, "large");
      color: map-get($colors-primary, "moderate blue");
    }
  }
  &__text {
    // display: flex;
    // flex-direction: row;
    .reply-to {
      color: map-get($colors-primary, "moderate blue");
      font-weight: map-get($font-weights, "large");
    }
  }
}

