p{
  line-height: 1.5rem;
}

.comment {
  padding: $card-padding;
  &__top-row {
    display: flex;
    flex-direction: row;
    .name,
    .post-date,
    .reply-edit-delete {
      margin-top: calculate-rem(16px);
    }

    .name,
    .post-date {
      margin-left: calculate-rem(16px);
    }
    .you-icon{
      margin-top: calculate-rem(11px);
      margin-left: calculate-rem(8px);

      background-color: map-get($colors-primary , "moderate blue" );
      color: map-get($colors-neutral , "white" );
      border-radius: $border-radius;
      padding-left: .5rem;
      padding-right: .5rem;
      padding-top: .25rem;
      padding-bottom: .25rem;
     }
    .name {
      font-weight: map-get($font-weights, "large");
    }
    .post-date {
      font-weight: map-get($font-weights, "medium");
    }
  }
  .reply-edit-delete {
    cursor: pointer;
    margin-left: $reply-edit-delete-margin;
    padding-top: 1rem;
    font-weight: map-get($font-weights, "large");
    &__reply {
      color: map-get($colors-primary, "moderate blue");
      &:hover {
        color: map-get($colors-primary, "light grayish blue");
      }
    }
    &__edit{
      margin-left: .5rem;
      color: map-get($colors-primary, "moderate blue");
      &:hover {
        color: map-get($colors-primary, "light grayish blue");
      }
    }
    &__delete {
      color: map-get($colors-primary, "soft red");
      &:hover {
        color: map-get($colors-primary, "pale red");
      }
    }
  }
  &__text {
    p {
      margin: 0;
    }
    &--reply-to {
      color: map-get($colors-primary, "moderate blue");
      font-weight: map-get($font-weights, "large");
    }
  }
}

.modal{
  padding: $card-padding;
  &__btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .cancel-delete, .delete-comment{
      font-weight: map-get($font-weights, "large");
      color: map-get($colors-neutral, "white");
    }
  }
}
