.comment {
  padding: $card-padding;
  &__top-row {
    display: flex;
    flex-direction: row;
    .name,
    .post-date,
    .reply-edit-delete {
      margin-top: calculate-rem(16px);
    }
    .name,
    .post-date {
      margin-left: calculate-rem(16px);
    }
    .name {
      font-weight: map-get($font-weights, "large");
    }
    .post-date {
      font-weight: map-get($font-weights, "medium");
    }
  }
  .reply-edit-delete {
    cursor: pointer;
    margin-left: $reply-edit-delete-margin;
    padding-top: 1rem;
    font-weight: map-get($font-weights, "large");
    &__reply {
      color: map-get($colors-primary, "moderate blue");
      &:hover {
        color: map-get($colors-primary, "light grayish blue");
      }
    }
  }
  &__text {
    p {
      margin: 0;
    }
    .reply-to {
      color: map-get($colors-primary, "moderate blue");
      font-weight: map-get($font-weights, "large");
    }
  }
}
